<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url('https://media.xconomy.com/wordpress/wp-content/images/2020/02/27123419/iStock-1131469143.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

</style>

<div class="container-fluid">
    <br />
    <a class="btn btn-info" href="/Home/Index"><i class="fa fa-arrow-left"></i>Inapoi la pagina principala</a>
    <br /><br />

    <div class="row">
        <div class="col-md-3" style="background-color:lightblue">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <br />
                        <img class="img-responsive" src="https://cdn.iconscout.com/icon/free/png-512/avatar-372-456324.png" style="height:200px; margin:auto;" alt="poza_utilizator" />
                    </div>
                    <br />
                    <div class="text-left">
                        <div style="background-color:dodgerblue; padding: 5px">
                            <h4 style="margin-bottom:0">DATE PERSONALE</h4>

                        </div>
                        <br />
                        <h5>Email: user@gmail.com</h5>
                        <br />
                        <h5>Nume: Marian Nicolae</h5>
                        <br />
                        <h5>Data de nastere: 01 ianuarie 2000</h5>
                        <hr />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info rounded-pill">MODIFICA DATE</button>
                        <br />
                    </div>
                    <br />
                    <div class="text-left">
                        <h5>Alergii: Paracetamol, Lactoza</h5>
                        <br />
                        <h5>Greutate: 75kg</h5>
                        <br />
                        <h5>Inaltime: 190cm</h5>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-8" style="background-color:lightblue">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom:50px">
                    <div class="text-left">
                        <div style="background-color:dodgerblue; padding: 5px">
                            <h3 style="margin-bottom:0">CONSULTATII</h3>
                        </div>
                        <br />
                        <ul class="list-group" style="padding:15px;">
                            <li class="list-group-item" style="background-color: white; margin-bottom: 30px">
                                Data: 04 februarie 2022<br />
                                Denumire investigatie: Consult Radiologie<br />
                                Doctor: Emil <br />
                                Clinica: Floreasca<br />
                            </li>
                            <li class="list-group-item" style="background-color:white; margin-bottom:30px">
                                Data: 22 mai 2015<br />
                                Denumire investigatie: Consult ORL<br />
                                Doctor: Alex<br />
                                Clinica: Floreasca<br />
                            </li>
                            <li class="list-group-item" style="background-color: white; margin-bottom: 1px">
                                    Data: 14 aprilie 2023<br />
                                    Denumire investigatie: Consult Neurologie<br />
                                    Doctor: Andrei<br />
                                    Clinica: Ponderas<br />
                            </li>
                        </ul>
                    </div>
            </div>

    </div>
            
</div>
        <br />