################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDP/.vs/*
/PDP/PDP/obj/*
/PDP/PDP/bin/*
/PDP/PDP.Tests/obj/*
/PDP/PDP.Tests/bin/*
/PDP/PDP/App_Data/aspnet-PDP-20221205105503.mdf
/PDP/PDP/App_Data/aspnet-PDP-20221205105503_log.ldf
