################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDP/.vs/PDP
/PDP/PDP/obj/Debug
/PDP/PDP.Tests/obj/Debug
/PDP/PDP/bin
/PDP/PDP/bin/PDP.pdb
/PDP/PDP.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDP/PDP.Tests/bin/Debug
/PDP/PDP.Tests/obj/Debug/PDP.Tests.csproj.CoreCompileInputs.cache
/PDP/PDP/bin/PDP.dll.config
/PDP/PDP/App_Data/aspnet-PDP-20221205105503_log.ldf
/PDP/PDP/App_Data/aspnet-PDP-20221205105503.mdf
/.vs
/PDP/.vs
/PDP/PDP/obj/Release
/PDP/PDP.Tests/obj/Release
