@model PDP.Models.Doctor

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete the doctor @Model.FirstName @Model.SecondName?</h3>
<h5 style="font-style:italic">This changes will not be reversible</h5>
<img src="@Model.Photo" style="width:16em;" />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="row">
            <div class="col-sm-1">
                <a class="btn btn-warning" href="/Doctors">Abort</a>
            </div>
            <div class="col-sm-1">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>

        </div>
    }
</div>
