@model PDP.Models.Consultation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure?</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
