@model PDP.Models.Consultation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure?</h3> <br/>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <div class="form-actions no-color">
			<button class="btn btn-danger justify-content-center" type="submit">Delete</button>
			<a class="btn btn-info" href="/Consultations/Index">Back</a>
        </div>
    }
    <br/><hr/>
</div>
