<h2 class="text-center">Add Specialization</h2>
<br />

<form method="post" action="/Specializations/Create">
        <div class="form-group">
            @Html.Label("Name", "Specialization Name", new { @class = "text-center" })
            <br />
            @Html.TextBox("Name", null, new { @class = "form-control" })
            <br />
        </div>
        <div class="form-group">
            @Html.Label("Price", "Specialization Price")
            <br />
            @Html.TextBox("Price", null, new { @class = "form-control" })
        </div>
    <div class="row text-center">
        <div class="col-md-12">
            <button class="btn btn-sm btn-success justify-content-center" type="submit">Add Spec</button>
        </div>
    </div>
    <br />
</form>